.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
}

.flex-container button {
     background-color: lightskyblue;
     margin: 10px;
     padding: 20px ;
     text-align: center;
     font-size: 40px;
}

h1 {
    color: red;
}

#screen {
    width: 400px ;
    height: 30px;
    background-color: #e0e0e0 ;
    margin: 15px;
}